<?xml version="1.0" encoding="utf-8"?>
<sitecore database="SqlServer" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sc.variable name="dataFolder" value="/data" />
  <sc.variable name="mediaFolder" value="/upload" role:require="Standalone" />
  <sc.variable name="tempFolder" value="/temp" />
  <sc.variable name="defaultLinkDatabaseConnectionStringName" value="core" />
  <sc.variable name="defaultLinkDatabaseConnectionStringName" role:require="ContentDelivery or ContentManagement">
    <patch:attribute name="value">web</patch:attribute>
  </sc.variable>
</sitecore>